.post {
  background: #161b22;
  margin:10px;
  border-radius: 20px;
  display: flex;
  flex-wrap: nowrap;
}

h3 {
  color: #c9d1d9;
  width: 10%
}

p {
  border-radius: 20px;
  background-color: #2a3441;
  margin:5px;
  padding:5px;
  color: #c9d1d9;
  width: 85%;
}